/**
 * Customized styles for the MenuG5 menu
 */

.itemTopOn, .itemTopOff {
    width: 90px;
    height: 50px;
    font: bold 6px "Verdana", "Helvetica", "Arial", sans-serif;
    background: transparent url('img/transparent.gif') left top repeat; /*for IE*/
}



.itemSubOff {
    border:1px solid #ffffff; 
    text-align:left; 
    background-color:#4283c5; 
    width:180px; 
    padding:1px 6px 1px 11px;
}
.itemSubOn {
    cursor: pointer;
    border: 1px solid #ffffff; 
    text-align: left; 
    background-color: #2461aa; 
    width:180px; 
    padding:1px 6px 1px 11px;
}

.itemCatOff {
    border:1px solid #ffffff; 
    text-align:left; 
    background-color:#4283c5; 
    width:180px; 
    padding:1px 6px 1px 11px;
}
.itemCatOn {
    cursor: default;
    border: 1px solid #ffffff; 
    text-align: left; 
    background-color: #2461aa; 
    width:180px; 
    padding:1px 6px 1px 11px;
}


.itemTitle { 
    cursor:default; 
    width:180px; 
    padding:1px; 
    border:1px solid #ffffff; 
    text-align:center; 
    background-color:#c99666; 
}

.fontOff { 
    font-family:Verdana, Helvetica, Arial, sans-serif; 
    font-size:13px; 
    color:#ffffff;
    text-decoration: none;
}
.fontOn { 
    font-family:Verdana, Helvetica, Arial, sans-serif; 
    font-size:13px; 
    color:#ffffff; 
    text-decoration: underline;
}
.fontCatOff , .fontCatOn {
    font-family:Verdana, Helvetica, Arial, sans-serif; 
    font-size:13px; 
    font-weight: normal;
    text-decoration: none;
    color: #ffffff;
}

.fontTitle { 
    font-family:Verdana, Helvetica, Arial, sans-serif; 
    font-size:13px; 
    color:#ffffff; 
}

.tagOff { 
    width:8px; 
    height:13px; 
    float:right; 
    background:url("img/mnuright.gif") no-repeat bottom; 
}
.tagOn { 
    width:8px; 
    height:13px; 
    float:right; 
    background:url("img/mnuright.gif") no-repeat bottom; 
}

.tagDownOff { 
    width:20px; 
    height:10px; 
    float:right; 
    background:url("img/mnuright.gif") no-repeat bottom left; 
}
.tagDownOn { 
    width:20px; 
    height:10px; 
    float:right; 
    background:url("img/mnuright.gif") no-repeat bottom left; 
}
