/**
 * modifications to main CSS rules in order to accommodate IE's non-standard behaviors
 *
 * LICENSE NOTE:
 *
 * Copyright  2003-2007 Active Agenda Inc., All Rights Reserved.
 *
 * Unless explicitly acquired and licensed from Licensor under a "commercial license",
 * the contents of this file are subject to the Reciprocal Public License ("RPL")
 * Version 1.4, or subsequent versions as allowed by the RPL,and You may not copy
 * or use this file in either source code or executable form, except in compliance
 * with the terms and conditions of the RPL. You may obtain a copy of the RPL from
 * Active Agenda Inc. at http://www.activeagenda.net/license.
 *
 * All software distributed under the Licenses is provided strictly on an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND ACTIVE AGENDA
 * INC. HEREBY DISCLAIMS ALL SUCH WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY 
 * WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, QUIET ENJOYMENT,
 * OR NON-INFRINGEMENT. See the Licenses for specific language governing rights and
 * limitations under the Licenses.
 *
 * author         Mattias Thorslund <mthorslund@activeagenda.net>
 * copyright      2003-2007 Active Agenda Inc.
 * license        http://www.activeagenda.net/license
 **/

body {
    /*
    Padding on BODY instead of margin on #content avoids IE 
    sidescroll issue.
    */
    padding: 0px 10px 10px 5px; 
}

#content {
    /*
    Enable to verify IE uses this sheet.
    */
    /*background: #999911;*/
    margin: 30px 0 10px 0;
}


#icons{
    width:150px;
    left:0px;
}

.subfolder_tab {
    width: 333px;
 }

.subfolder_span {
    float: left;
    clear: left;
}

#tabwrapper{
    /*
    negative margin-right does not work (reason?) so we use
    relative positioning and move 8px left
    */
    /*position:relative;*/
    /*right: 8px;*/
}

#sideshim {
    float: right;
    width: 160px;
    height: 0px;
    position: relative; /*this causes position:absolute in sub-element #sidearea to be relative to this element*/
}

#sidearea {
    /*
    this fixes "peekaboo" bug (if tabs are longer than the rest
    of the content, tabs would break out of content area)
    */
    /*height: 1%;*/
    
    top: 0px;
    right: 0px;
    position: absolute;
}

#content_notitle #sidearea {
    position: relative;
}


div.listwrap {
    margin-right:190px; /*overrides main sheet*/
    margin-right:0;
}

.sz2tabs {
    /*width:expression(fixListWrap(this));*/
    margin:0;
}
/*
table.list {
    width: 100%;
}*/


#intro {
    margin: 0 0 10px 0;
}


/*this addresses a text wrapping issue in IE (because of faulty box model)*/
.subfolder_tab_l {
    width: 350px;
} 

/* Menu G5 styles */
.itemTopOff {
    height: 50px;
}
.itemTopOn {
    height: 50px;
}


#relations_left {
    right: 30px; /* IE 6 does not readjust the layout if the vertical scroll bar is displayed during page load and later disappears */
}

#relations {
    padding-top: 9px;
}