/**
 * main CSS rules for the aa_theme theme
 *
 * LICENSE NOTE:
 *
 * Copyright  2003-2007 Active Agenda Inc., All Rights Reserved.
 *
 * Unless explicitly acquired and licensed from Licensor under a "commercial license",
 * the contents of this file are subject to the Reciprocal Public License ("RPL")
 * Version 1.4, or subsequent versions as allowed by the RPL,and You may not copy
 * or use this file in either source code or executable form, except in compliance
 * with the terms and conditions of the RPL. You may obtain a copy of the RPL from
 * Active Agenda Inc. at http://www.activeagenda.net/license.
 *
 * All software distributed under the Licenses is provided strictly on an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND ACTIVE AGENDA
 * INC. HEREBY DISCLAIMS ALL SUCH WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY 
 * WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, QUIET ENJOYMENT,
 * OR NON-INFRINGEMENT. See the Licenses for specific language governing rights and
 * limitations under the Licenses.
 *
 * author         Mattias Thorslund <mthorslund@activeagenda.net>
 * copyright      2003-2007 Active Agenda Inc.
 * license        http://www.activeagenda.net/license
 **/

/*
    standard colors used in logo:
    dark blue: #0c2577; //text
    medium blue; #2461aa; //links

    other colors used:
    #4283c5 //lighter blue
    #2075be //mid blue
    #cedcf1 //light shadow

    gray background: #dddddd;
*/

body {
    background-color: #dddddd;
    margin: 0;
    color: #0c2577;
    padding: 0px 10px 10px 5px;
}

body#navframe {
    background: #4283c5 url('img/navbg.gif') top left repeat-x;
    margin: 0;
    padding: 0px;
    color: #ffffff;
}

#navframe a {
    color: #ffffff;
}

#nav_table {
    height: 50px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}
#nav_table tr td {
    font: normal 10px "Verdana", "Helvetica", "Arial", sans-serif;
    text-align: center;
    border-right:1px solid #2461aa;
    border-left:1px solid #cedcf1;
}



.navicon {
    width: 60px;
}

.navicon img {
    margin: 0 auto;
}

#nav_guide {
    width: 70px;
}

#nav_table tr td#nav_menu {
    width: 90px;
    font-weight: bold;
}

#nav_table tr td#nav_bugreport {
    width: 70px;
}

#nav_table tr td#nav_sitename {
    font: normal 10px "Verdana", "Helvetica", "Arial", sans-serif;
}

#nav_sitename h1 {
    font: bold 12px "Verdana", "Helvetica", "Arial", sans-serif;
    color: #ffffff;
    border: none;
    margin: 0;
    padding: 0;
}

#windowClose {
    float: right;
    font-size: 9px;
    margin: 0 2em;
    color: #ffffff;
}

#mainmenu, #uinfo {
    float: left;
    font-size: 9px;
    margin: 0 2em;
    color: #ffffff;

}

div#logout a, div#logout a:visited, div#logout a:hover { color: #ffffff; }
img { border: none; }

/*popup window styles*/
div#popupTitle {
    color: #ffffff;
    padding: 0 10px;
    float: left;
    margin: 0;
    font: bold 18px "Verdana", "Helvetica", "Arial", sans-serif;
}

div#popupClose {
    padding: 4px 10px;
    float: right;
    font: bold 11px "Verdana", "Helvetica", "Arial", sans-serif;
}

div#popupClose a { color: #ffffff; }

#popup_header {
    background: #dddddd url('img/navbg.gif') top left repeat-x;
    margin:0;
    padding:0;
    color: #ffffff;
    height: 30px;
}

/*general text styles*/
h1 {
    font: bold 18px "Verdana", "Helvetica", "Arial", sans-serif;
    color: #0c2577;
    background-color: transparent;
    margin: 1em 0 0 0;
    padding: 0;
    border-top: 1px dotted #98AAB1;
clear: left;
}

h2 {
    font: bold 15px "Verdana", "Helvetica", "Arial", sans-serif;
    color: #0c2577;
    margin: 1em 0 0 0;
}

h3 {
    font: bold 12px "Verdana", "Helvetica", "Arial", sans-serif;
    color: #0c2577;
    margin: 0;
}

body, p, td, th, .normal { font: normal 12px "Verdana", "Helvetica", "Arial", sans-serif; }

a, a:VISITED {
    text-decoration: none;
    color: #2461aa;
}

a:HOVER { text-decoration: underline; }

div.errmsg {
    font: bold 15px "Verdana", "Helvetica", "Arial", sans-serif;
    color: #DD2222;
    background-color: #ffffff;
    display: block;
    padding: 1em;
    border: 1px solid #AA0000;
    margin-right: 200px;
}

div.msg {
    font: bold 15px "Verdana", "Helvetica", "Arial", sans-serif;
    color: #00AA00;
    background-color: #ffffff;
    display: block;
    padding: 1em;
    border: 1px solid #00AA00;
    margin-right: 200px;
}

#dashboard_title {
    margin: 0 0 5px 0;
    border: none;
}
#pagetitle_left {
    background: transparent url('img/title_tab_left.gif') bottom left no-repeat;
    padding-left: 20px;
    margin-top: -40px;
    position: absolute;
}
#pagetitle_right {
    background: transparent url('img/title_tab_right.gif') bottom right no-repeat;
    padding-right: 20px;
}
#pagetitle {
    background: transparent url('img/title_tab_middle.png') bottom right repeat-x;
    padding-top: 6px;
    margin-top: 4px;
}
#pagetitle_label {
    background-color: #ffffff;
    font: normal 18px "Verdana", "Helvetica", "Arial", sans-serif;
    color: #0c2577;
    padding: 0 20px;
}

#relations_left {
    background: transparent url('img/title_tab_left.gif') top left no-repeat;
    padding-left: 20px;
    margin-top: -33px;
    position: absolute;
    right: 15px;
    height: 27px;
}
#relations_right {
    background: transparent url('img/title_tab_right.gif') top right no-repeat;
    padding-right: 20px;
}
#relations {
    background: transparent url('img/title_tab_middle.png') top right repeat-x;
    padding-top: 8px;
    margin-top: 0px;
    /*height: 27px;*/ /*This causes a problem in IE 6: the div no longer auto-sizes the width to the size of the content but maximizes it*/
}
#relations_label {
    background-color: #ffffff;
    font: normal 12px "Verdana", "Helvetica", "Arial", sans-serif;
    color: #0c2577;
    padding: 0 20px;
}
#relations_label img {
    vertical-align: middle;
}


.subfolder_tab_l {
    background: transparent url('img/subfolder_left.gif') bottom left no-repeat;
    padding-left: 33px;
    width: 300px;
    margin-top: 2px;
}
.subfolder_tab_r {
    padding-right: 33px;
    background: transparent url('img/subfolder_right.gif') bottom right no-repeat;
}
.subfolder_tab_m {
    height: 25px;
    background: transparent url('img/subfolder_middle.png') bottom left repeat-x;
}

.subfolder_label img {
   vertical-align: bottom;
}

.subfolder_label {
    padding: 5px 0 0 0;
    font-weight: bold;
}



.subfolder_count {
    font-weight: normal;
}
.subfolder_spacer {
    width: 320px;
    height: 0;
    /*the following are a workaround for IE/Win, which otherwise insists on adding a height to the element*/
    line-height: 0px;
    font-size: 1px;
}
.subfolder_main {
    padding: 5px 4px 4px 5px;
    background-color: #e8e8e8;
    border-right: 1px #98AAB1 solid;
    border-bottom: 1px #98AAB1 solid;
}
.subfolder_inner {
    border-top: 1px #98AAB1 solid;
    border-left: 1px #98AAB1 solid;
    border-right: 1px #f6f6f6 solid;
    border-bottom: 1px #f6f6f6 solid;
    padding: 3px;
}
.subfolder_span {
    /* used in IE only */
}

.sz2tabs {
    /*border: 1px solid red;
    z-index: 10;*/
}
.grid_empty {
    border-bottom: 1px #98AAB1 solid;
    width: 333px;
    margin: 1px 10px 0 1px;
    clear: left;

}
.grid {
    margin: 10px 0;
    display: table; /* causes the grid wrapper to stay snug around the table (in FF) */
}
.gridtitle img {
    border: none;
    margin: 0 0 -5px 0;
}
.grid_rppsel {
    float: right;
}

.vgrid_main {

}
.vgrid_logo {
    text-align: right;
    float: right;
}
h1.vgrid_title {
    border: none;
    margin: 0;
    font-size: 12px;
}
.vgrid_record {
    background-color: #ffffff;
    padding: 3px 0;
}
.vgrid_record_separator {
    border: 1px dotted #cccccc;
}
.vgrid_feature {
    font-size: 12px;
}
.vgrid {
    background-color: #ffffff;
    border-top: 1px #f6f6f6 solid;
    border-left: 1px #f6f6f6 solid;
    border-right: 1px #98AAB1 solid;
    border-bottom: 1px #98AAB1 solid;
    padding: 3px;
}


#recordLabel {
    font: bold 10px "Verdana", "Helvetica", "Arial", sans-serif;
    padding: 0.3em 2em;
    line-height: 2.1em;
    border-top: #eeeeee;
    border-left: #eeeeee;
    border-right: #aaaaaa;
    border-bottom: #bbbbbb;
    border-width: 1px;
    border-style: solid;
    background-color: #ffffff;
    background: #ffffff url('img/sticker_bg.png') bottom right repeat-x;
}

#recordLabel_wrapper {
    padding-bottom: 6px;
    background: transparent;
}

#content, #content_notitle {
    float: left;
    padding: 6px;
    background-color: #ffffff;
    background-image: url("img/watermark_big.png");
    background-repeat: no-repeat;
    background-position: right 200px;
    border-left: #98AAB1;
    border-right: #98AAB1;
    border-bottom: #98AAB1;
    border-top: #98AAB1;
    margin: 0 0 10px 0;
    border-width: 1px 2px 2px 1px;
    border-style: solid solid solid solid;
}

#content {
    margin: 30px 0 10px 0;
    /*padding: 0;*/
}


#sidearea {
    float: right;
    width: 160px;
    right: 18px;
    
    /*top: 31px;
    position: absolute;
    z-index: 5;*/
    background-color: #ffffff;
    /*border: 1px solid purple;*/
    padding: 0;
}

#logo {
    float: right;
    clear: right;
    margin-top: 5px;
    padding-bottom: 5px;
}

#icons {
    float: right;
    clear: right;
    height: 20px;
    padding: 5px 0 5px 5px;
    margin-left: 10px;
    text-align: center;
    width: 140px;
    left: -10px;
}

#tabwrapper {
    clear: right;
    float: right;
    /*margin-right: -8px;*/
    background: #dddddd;
    margin-left: 20px;
    padding: 1px 0 2px 1px;
    width: 150px;
    border-color: #98AAB1;
    border-width: 2px 0px 1px 2px;
    border-style: solid;

    position:relative;
    right: -8px;
}

#tabcontainer {
    position:relative;
    top: 0px;
    right: -5px;
    width: 155px;
    background: #dddddd;
}

/*this extends the gray background to the right a little*/
#tabcontainer_inner {
    position:relative;
    top: 0px;
    left: -5px;
    width: 155px;
}


div.tabunsel, div.tabsel, div.tabseld, div.tabg, div.tabgd, div.tabunselhi, div.tabghi, div.tabgdhi, div.tabdisabled, div.tabdisabledhi {
    background: #4283c5 url('img/tabcorner.gif') top right no-repeat;
    float: left;
    width: 142px;
    color: #ffffff;
    margin-top: 1px;
}

div.tabsel, div.tabseld {
    background: #ffffff url('img/tabcorner.gif') top right no-repeat;
    width: 150px;
    position: relative;
    left: -3;
    color: #000000;
    border-bottom: 1px #98AAB1 solid;
}

div.tabdisabled, div.tabdisabledhi {
    background-color: #dddddd;
    border-bottom: 1px #98AAB1 solid;
}

div.tabseld { background: #ffffff url('img/tabcorner-data.gif') top right no-repeat; }
div.tabg { background: #6b8199 url('img/tabcorner.gif') top right no-repeat; }
div.tabgd { background: #6b8199 url('img/tabcorner-data.gif') top right no-repeat; }

div.tabunselhi {
    background-color: #5a9df0;
    width: 147px;
}

div.tabghi {
    background: #839fbf url('img/tabcorner.gif') top right no-repeat;
    width: 147px;
}

div.tabgdhi {
    background: #839fbf url('img/tabcorner-data.gif') top right no-repeat;
    width: 147px;
}

div.tabb, a.tabb, a.tabb:visited, a.tabb:hover {
    width: 140px;
    padding: 2px 2px 2px 5px;
    display: block;
    color: #ffffff;
    text-decoration: none;
}

div.tabsel div.tabb, div.tabseld div.tabb {
    padding: 2px 2px 1px 5px;
    color: #000000;
}

div.tabdisabled div.tabb, div.tabdisabledhi div.tabb {
    padding: 2px 2px 1px 5px;
    color: #888888;
}

div.tabclear {
    float: right;
    clear: right;
    line-height: 25px;
    height: 25px;
    display: block;
}

div.ds {
    float: right;
    clear: right;
    width: 140px;
    position: relative;
    left: 5px;
    margin: 5px;
    background-color: #f6f6f6;
    border: 2px #98AAB1 solid;
}

div.ds p {
    font-size: 10px;
    text-indent: -10px;
    padding: 0 0 0 15px;
    margin: 2px 0;
}

/*forms*/
table.frm {
    border-top: 1px #f6f6f6 solid;
    border-left: 1px #f6f6f6 solid;
    border-right: 1px #98AAB1 solid;
    border-bottom: 1px #98AAB1 solid;
    background-color: transparent;
    margin: 0px;
    border-spacing: 1px;
}

table.frm tr td { padding: 1px 3px; }

.flbb, .flbl, .flblr, .flblh {
    background-color: #dddddd;
    font-weight: bold;
    color: #0c2577;
    text-align: right;
}

.flbb {
    background-image: url('img/foot-bg.gif');
    text-align: center;
}

.flbl, .flblr, .flblh { cursor: help; }
.flblr, .flblh { font-style: italic; }

.flblh {
    text-decoration: blink;
    color: #FFF601;
}

.fval {
    background-color: #f6f6f6;
    border-bottom: 1px #f6f6f6 solid;
    color: #000000;
}

.fval div { display: inline; }

/*grids*/
div.listwrap {
    margin-right:160px;
}

table.list {
    border-top: 1px #f6f6f6 solid;
    border-left: 1px #f6f6f6 solid;
    border-right: 1px #98AAB1 solid;
    border-bottom: 1px #98AAB1 solid;
    background-color: #ffffff;
    margin: 0px;
    border-spacing: 1px;
    position: relative;
    width: 100%;
}

.grid .list {
    width: auto;
}

table.list tr td { padding: 1px 3px; }

th.p, td.p {
    background: transparent;
    font: normal 11px "Verdana", "Helvetica", "Arial", sans-serif;
    color: #000000;
    border: 1px #dddddd solid;
    padding: 1px;
    line-height: 11px;
}

th.p img { vertical-align: middle; }

a.p, a.p:VISITED {
    font: bold 11px "Verdana", "Helvetica", "Arial", sans-serif;
    color: #2461aa;
}

a.lh, a.lh:VISITED { color: #2461aa; }

th.l {
    background-color: #dddddd;
    font: bold 11px "Verdana", "Helvetica", "Arial", sans-serif;
    color: #2461aa;
    white-space: nowrap;
}

th.l img { vertical-align: middle; }

a.l, a.l:VISITED { color: #0c2577; }

td.l {
    background-color: #f9fcff;
    font: normal 11px "Verdana", "Helvetica", "Arial", sans-serif;
    color: #000000;
}

a.l2, a.l2:VISITED { color: #0c2577; }

td.l2 {
    background-color: #f0f6ff;
    font: normal 11px "Verdana", "Helvetica", "Arial", sans-serif;
    color: #000000;
}

td.l3, div.l3 {
    background-color: #cedcf1;
    font: normal 11px "Verdana", "Helvetica", "Arial", sans-serif;
    color: #000000;
}

td.n {
    margin: 0;
    padding: 0;
}

.info_popover {
    display:none;
    position:absolute;
    background-color: #cedcf1;
    padding: 5px;
    border-top: 2px #f6f6f6 solid;
    border-left: 2px #f6f6f6 solid;
    border-right: 2px #98AAB1 solid;
    border-bottom: 2px #98AAB1 solid;
    width: 400px;
}

.btn {
    color: #005263;
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #FAFAFA;
    font-weight: bold;
}

.edt, .edta {
    font: normal 11px "Verdana", "Helvetica", "Arial", sans-serif;
    background-color: #ffffff;
    border: 1px inset #cccccc;
}

.edta { background-color: #f6f6f6; }

.unsaved {
    background-color: #dae6f2;
}

.focus {
    background-color: #e6f1ff;
}

.nav { background-color: #C4DCE0; }

div.od {
    font-weight: bold;
    color: #CC0000;
}

div.dl_icon {
    float: left;
    text-align: center;
    padding: .5em 1.5em 0 0;
}

div.dl_icon_clear { clear: both; }

.charttrim {
    margin: .5em;
    float: left;
    background-color: #eeeeee;
    width: 310px;
    padding: 3px;
}

.chartarea {
    background-color: #ffffff;
    border: solid 1px #aaaaaa;
    padding: 2px;
}

.chartphrases {
    font: normal 9px "Verdana", "Helvetica", "Arial", sans-serif;
    color: #0c2577;
}

.charticons { float: right; }

.chartbar {
    background-color: #ffffff;
    border-bottom: solid 1px #999999;
    margin: 1px;
    margin-bottom: 4px;
}

.chartbar h3 {
    margin-right: 50px;
    line-height: 18px;
    font-size: 10px;
}

div.pageTitle {
    background-color: #ffffff;
    background-position: bottom left;
    background-repeat: no-repeat;
    padding-left: 5px;
    height: 42px;
    display: block;
    vertical-align: bottom;
    width: 55%;
}

div.glossaryDef { clear: left; }
div.glossaryDef h4 { margin: .5em 0 0 0; }

div.glossaryDef p {
    margin: 0 .5em .5em 1.5em;
    text-align: justify;
}

div.navList, td.navList {
    border: 3px ridge #dddddd;
    background-color: #cedcf1;
}

div.alerts, td.alerts {
    border: 3px ridge #dddddd;
    background-color: #cedcf1;
}

td.reminders {
    border: 3px ridge #dddddd;
    background-color: #cccccc;
}

.recinfo {
    font: normal 11px "Verdana", "Helvetica", "Arial", sans-serif;
    color: #0c2577;
}

#copyrightwrapper {
    clear: both;
    text-align: center;
}

#copyright {
    font: normal 11px "Verdana", "Helvetica", "Arial", sans-serif;
    color: #0c2577;
    text-align: center;
    letter-spacing: 2px;
    border-style: groove;
    border-color: #ffffff;
    border-width: 0;
    border-top-width: 3px;
    padding: 1em 1em 1em 1em;
    margin: 1em auto 0 auto;
    width: 45em;
}

#copyright a { font-weight: bold; }

.searchFilter {
    background-color: #f6f6f6;
    border: 2px #98AAB1 solid;
    padding: 1em 1em 1em 1em;
    width: 25em;
}



/*dashboard popovers*/
#popover {
    background-color: #cedcf1;
    border-top: 1px #f6f6f6 solid; 
    border-left: 2px #ffffff solid; 
    border-right: 1px #98AAB1 solid; 
    border-bottom: 1px #98AAB1 solid;
    padding: 5px;
    width: 400px;
}
#popover_bar {
    background: transparent;
    margin-right: 30px;
    line-height: 25px;
}
#popover_content {
    background-color: transparent;
    border-top: 1px #98AAB1 solid;
}
#popover_close {
    float:right;
    width:16px;
    margin-right:2px;
}

#popover_close img {
    height: 16px;
    width: 16px;
    border-top: 1px #f6f6f6 solid;
    border-left: 1px #f6f6f6 solid;
    border-right: 1px #98AAB1 solid;
    border-bottom: 1px #98AAB1 solid;
}

/* The main calendar widget.  DIV containing a table. */
div.calendar { position: relative; }

.calendar, .calendar table {
    font-size: 11px;
    color: #000;
    background: #eee;
    font-family: arial, verdana, sans-serif;
    z-index: 1001;
    /*mjt*/
    border-color: #666;
    border-width: 1px;
    border-style: solid;
}

/* CALENDAR CONTROL STYLES */
/* Header part -- contains navigation buttons and day names. */
.calendar .button {
    /* "<<", "<", ">", ">>" buttons have this class */
    text-align: center;
    /* They are the navigation buttons */
    padding: 2px;
    /* Make the buttons seem like they're pressing */
}

.calendar .nav { background: #0c2577 url('img/menuarrow.gif') no-repeat 100% 100%; }

.calendar thead .title {
    /* This holds the current "month, year" */
    font-weight: bold;
    /* Pressing it will take you to the current date */
    text-align: center;
    background-color: #fff;
    color: #000;
    padding: 2px;
}

.calendar thead .headrow {
    /* Row <TR> containing navigation buttons */
    background-color: #0c2577;
    color: #fff;
}

.calendar thead .daynames {
    /* Row <TR> containing the day names */
    background-color: #2461aa;
}

.calendar thead .name {
    /* Cells <TD> containing the day names */
    border-bottom: 1px solid #dddddd;
    padding: 2px;
    text-align: center;
    color: #ffffff;
}

.calendar thead .weekend {
    /* How a weekend day name shows in header */
    color: #9CF;
}

.calendar thead .hilite {
    /* How do the buttons in header appear when hover */
    background-color: #ffc;
    color: #000;
    border: 1px solid #04f;
    padding: 1px;
}

.calendar thead .active {
    /* Active (pressed) buttons in header */
    background-color: #FC0;
    padding: 2px 0px 0px 2px;
}

/* The body part -- contains all the days in month. */
.calendar tbody .day {
    /* Cells <TD> containing month days dates */
    width: 2em;
    color: #444;
    text-align: right;
    padding: 2px 4px 2px 2px;
}

.calendar table .wn {
    padding: 2px 3px 2px 2px;
    border-right: #000 solid 1px;
    background: #ffffff;
}

.calendar tbody .rowhilite td { background: #dddddd; }
.calendar tbody .rowhilite td.wn { background: #bbbbbb; }

.calendar tbody td.hilite {
    /* Hovered cells <TD> */
    background: #ffffff;
    padding: 1px 3px 1px 1px;
    border: #bbb solid 1px;
}

.calendar tbody td.active {
    /* Active (pressed) cells <TD> */
    background: #ccccff;
    padding: 2px 2px 0px 2px;
}

.calendar tbody td.selected {
    /* Cell showing today date */
    font-weight: bold;
    border: #000 solid 1px;
    padding: 1px 3px 1px 1px;
    background: #fff;
    color: #000;
}

.calendar tbody td.weekend {
    /* Cells showing weekend days */
    color: #2075be;
}

.calendar tbody td.today {
    /* Cell showing selected date */
    font-weight: bold;
    color: #C00;
}

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell {
    /* Empty cells (the best is to hide them) */
    visibility: hidden;
}

.calendar tbody .emptyrow {
    /* Empty row (some months need less than 6 rows) */
    display: none;
}

/* The footer part -- status bar and "Close" button */
.calendar tfoot .footrow {
    /* The <TR> in footer (only one right now) */
    text-align: center;
    background: #999;
    color: #fff;
}

.calendar tfoot .ttip {
    /* Tooltip (status bar) cell <TD> */
    background: #fff;
    color: #445;
    border-top: 1px solid #556;
    padding: 1px;
}

.calendar tfoot .hilite {
    /* Hover style for buttons in footer */
    background: #aaf;
    border: 1px solid #04f;
    color: #000;
    padding: 1px;
}

.calendar tfoot .active {
    /* Active (pressed) style for buttons in footer */
    background: #77c;
    padding: 2px 0px 0px 2px;
}

/* Combo boxes (menus that display months/years for direct selection) */
.combo {
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    width: 4em;
    cursor: default;
    border: 1px solid #655;
    background: #FFFFFF;
    color: #000;
    font-size: smaller;
}

.combo .label,
.combo .label-IEfix {
    text-align: center;
    padding: 1px;
}

.combo .label-IEfix { width: 4em; }
.combo .hilite { background: #acf; }

.combo .active {
    border-top: 1px solid #46a;
    border-bottom: 1px solid #46a;
    background: #eef;
    font-weight: bold;
}

.calendar td.time {
    border-top: 1px solid #000;
    padding: 1px 0px;
    text-align: center;
    background-color: #f4f0e8;
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
    padding: 0px 3px 0px 4px;
    border: 1px solid #889;
    font-weight: bold;
    background-color: #fff;
}

.calendar td.time .ampm { text-align: center; }

.calendar td.time .colon {
    padding: 0px 2px 0px 3px;
    font-weight: bold;
}

.calendar td.time span.hilite {
    border-color: #000;
    background-color: #667;
    color: #fff;
}

.calendar td.time span.active {
    border-color: #f00;
    background-color: #000;
    color: #0f0;
}

/*classes for SelectGrid*/
div#sg {
    width: 55em;
}

.sgTitle {
    color: #0c2577;
    font-weight: bold;
    border-bottom: #0c2577 solid 1px;
    margin-bottom: 2px;
}

.sgList {
    padding: 0 2px;
    margin: 15px 15px 0 0;
    width: 25em;
    float: left;
    border: #0c2577 solid 2px;
    background-color: #f7f7f7;
}

#sgAvailable {
    background: #ffffff;
    color: #0c2577;
}

#sgSelected {
    background: #cedcf1;
    color: #0c2577;
}

div#sg ul {
    list-style-type: none;
    margin-left: 0;
    margin-top: 0;
    padding-left: 0px;
}

div#sg li {
    cursor: pointer;
    padding-left: 10px;
    border-color: #FFF #AEBACC #AEBACC #FFF;
    border-width: 1px;
    border-style: solid;
}

div#sg .unselected { background: #e0ecff; }
div#sg .selected { background: #cedcf1; }
div.clr { clear: both; }

/*classes for EditGrid form*/
div#gridFormDiv {
    border: 1px solid #ffffff;
    border-top-width: 0px;
    padding: .5em;
}

/*intro documentation*/
#intro {
    padding: 6px;
    background: #ffffff;
    margin: 0px 160px 10px 0px;
    border-color: #98AAB1;
    border-width: 1px 2px 2px 1px;
    border-style: solid;
}

/* report styles */
div.report div.subreport {
    margin-top: 1em;
    margin-left: 3em;
    border-top: 1px #0c2577 dotted;
}

div.reporttitle {
    color: #999999;
    float: right;
}

div.report h1 { border: none; }

div.report h2 {
    margin: 0;
    margin-right: 100px;
    background: none;
}


/* home page a.k.a. dashboard */
.dashMenu, .dashMenu_hi {
    background-color : #e0e0e0;
    float: left;

    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight : bold;

    border-top: 1px #f6f6f6 solid; 
    border-left: 2px #ffffff solid; 
    border-right: 1px #98AAB1 solid; 
    border-bottom: 1px #98AAB1 solid; 

    line-height: 1.5em;
    margin: 0 1px 0 0;
}
.dashMenu a, .dashMenu_hi a {
    padding: 1px 15px;
}
.dashMenu a:hover, .dashMenu_hi a:hover {
    background-color : #eeeeee;
    text-decoration: none;
}
.dashMenu_hi a:hover {
    background-color: #cedcf1;
}
.dashMenu_hi {
    background-color: #cedcf1;
}
#dashStretch {
    float: right;
}

#dashMenuSection {
    background:transparent;
    border-bottom: solid 1px #dddddd;
    float:left;
}


/*Yui Container styles*/
#pop_relations {
    visibility:hidden;
}
#pop_relations.panel .hd { 
    background-color: #4283c5;
    color:#ffffff; 
    height:12px; 
    text-align:center;
    overflow:visible;
}
#pop_relations.panel .bd {
    background-color: #f6f6f6;
}
#pop_relations.panel .ft {
    background-color: #cedcf1;
    border: 1px solid #ffffff;
}


/*
Copyright (c) 2006, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version 0.12.1
*/

.overlay {
    position:absolute;
    display:block;
}

.tt {
    visibility:hidden;
    position:absolute;
    color:#333;
    background-color:#FDFFB4;
    font-family:arial,helvetica,verdana,sans-serif;
    padding:2px;
    border:1px solid #FCC90D;
    font:100% sans-serif;
    width:auto;
    z-index: 901;
}

* html body.masked select {
    visibility:hidden;
}

* html div.panel-container select {
    visibility:inherit;
}

* html div.drag select {
    visibility:hidden;
}

* html div.hide-select select {
    visibility:hidden;
}

.mask {
    z-index:0;
    display:none;
    position:absolute;
    top:0;
    left:0;
    -moz-opacity: 0.5;
    opacity:.50;
    filter: alpha(opacity=50);
    background-color:#CCC;
}

.hide-scrollbars * {
    overflow:hidden;
}

.hide-scrollbars textarea, .hide-scrollbars select {
    overflow:hidden;
    display:none;
}

.show-scrollbars textarea, .show-scrollbars select {
    overflow:visible;
}

.panel-container {
    position:absolute;
    background-color:transparent;
    z-index:6;
    visibility:hidden;
    overflow:visible;
    width:auto;
}

.panel-container.matte {
    padding:3px;
    background-color:#FFF;
}

.panel-container.matte .underlay {
    display:none;
}

.panel-container.shadow {
    padding:0px;
    background-color:transparent;
}

.panel-container.shadow .underlay {
    visibility:inherit;
    position:absolute;
    background-color:#CCC;
    top:3px;left:3px;
    z-index:0;
    width:100%;
    height:100%;
    -moz-opacity: 0.7;
    opacity:.70;
    filter:alpha(opacity=70);
    zoom:1;
}

.panel {
    visibility:hidden;
    border-collapse:separate;
    position:relative;
    left:0px;top:0px;
    font:1em Arial;
    background-color:#FFF;
    border:1px solid #000;
    z-index:1;
    overflow:hidden;
}

.panel .hd {
    background-color:#3d77cb;
    color:#FFF;
    font-size:100%;
    line-height:100%;
    border:1px solid #FFF;
    border-bottom:1px solid #000;
    font-weight:bold;
    overflow:hidden;
    padding:4px;
}

.panel .bd {
    overflow:hidden;
    padding:4px;
}

.panel .bd p {
    margin:0 0 1em;
}

.panel .close {
    position:absolute;
    top:5px;
    right:4px;
    z-index:6;
    height:12px;
    width:12px;
    margin:0px;
    padding:0px;
    background-repeat:no-repeat;
    cursor:pointer;
    visibility:inherit;
}

.panel .close.nonsecure {
    background-image:url(http://us.i1.yimg.com/us.yimg.com/i/nt/ic/ut/alt3/close12_1.gif);
}

.panel .close.secure {
    background-image:url(https://a248.e.akamai.net/sec.yimg.com/i/nt/ic/ut/alt3/close12_1.gif);
}

.panel .ft {
    padding:4px;
    overflow:hidden;
}

.simple-dialog .bd .icon {
    background-repeat:no-repeat;
    width:16px;
    height:16px;
    margin-right:10px;
    float:left;
}

.dialog .ft, .simple-dialog .ft {
    padding-bottom:5px;
    padding-right:5px;
    text-align:right;
}

.dialog form, .simple-dialog form {
    margin:0;
}

.button-group button {
    font:100 76% verdana;
    text-decoration:none;
    background-color: #E4E4E4;
    color: #333;
    cursor: hand;
    vertical-align: middle;
    border: 2px solid #797979;
    border-top-color:#FFF;
    border-left-color:#FFF;
    margin:2px;
    padding:2px;
}

.button-group button.default {
    font-weight:bold;
}

.button-group button:hover, .button-group button.hover {
    border:2px solid #90A029;
    background-color:#EBF09E;
    border-top-color:#FFF;
    border-left-color:#FFF;
}

.button-group button:active {
    border:2px solid #E4E4E4;
    background-color:#BBB;
    border-top-color:#333;
    border-left-color:#333;
}
